<div class="container-index">
    <div class="container-index-element container-input">
        <div class="code-input input-element">
            <label style="display: flex; align-items:center ;" for="code">الرمز</label>
            <input id="code" type="text" v-model="code">
            <p class="code-error error "></p>
        </div>
        <div class="quantity-input input-element ">
            <label style="display: flex; align-items:center ;" for="22">الكمية</label>
            <input type="number" @click="clearInput($event) " id="quantity" min="1 " v-model="quantity ">
            <p class="quantity-error error "></p>
        </div>
        <div class=" price-input input-element ">
            <label style="display: flex; align-items:center ;" for="price ">سعر المبيع</label>
            <input type="number" :readonly="sellingPriceEdite ? false : true " id="price" min="1 " v-model="sellingPrice " @click="sellingPriceEdite ? clearInput($event) : null ">
            <span for="price">ل.س</span>
            <p class="price-error error "></p>
        </div>
        <div class=" options-input input-element ">
            <button @click=" sellingPriceEdite=!sellingPriceEdite " id="edite-price "> {{sellingPriceEdite?"قفل ":"تحرير "   }}</button>
            <button @click=" sellingPrice=currentProduct ? currentProduct.sellingPrice : null " id="refresh-price ">استعادة  </button>
            <div class="tottal" style="font-size: 20px; display: flex; align-items: center;">السعر الكلي : &nbsp; {{tottal}} &nbsp; <span>{{tottal ? 'ل.س':''}}</span></div>
        </div>
    </div>
    <div class="container-index-element container-info info ">
        <div>
            <div class="label ">المنتج</div>
            <div class="name ">{{currentProduct?currentProduct.name:null}} </div>
        </div>
        <div>
            <div class="label ">الكمية المتوفرة</div>
            <div class="quantity ">{{currentProduct?currentProduct.quantity:null}}</div>
        </div>
        <div>
            <div class="label "> تكلفة واحدة الجملة</div>
            <div class="price ">{{ currentProduct? currencyFormat.format(currentProduct.price) + " ل.س ":null}}</div>
        </div>
        <div>
            <div class="label ">معلومات اضافية</div>
            <div class="description ">{{ currentProduct?currentProduct.description!=='null' ?currentProduct.description:null : null }}
            </div>
        </div>
    </div>


    <div class="container-index-element container-option">
        <button @click="sellConfirm() " id="sell-production" class="sell-production ">$</button>
    </div>
</div>