<div>
    <table class="table table-striped ">
        <thead class="table-dark">
            <tr>
                <th :style="`display :${ alter ? 'table-cell' :'none'}; background-color: ${alter?'red':'none'}` ">حذف هذا الجرد</th>
                <th>المبيع</th>
                <th>التكاليف</th>
                <th>الديون</th>
                <th>المصاريف</th>
                <th>الارباح</th>
                <th>وضع الجرد</th>
                <th>تاريخ الادخال</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="process in inventories" :key="process.id" :style="`${!process.reguler?'background:rgba(0,0,0,0.3) ; color:white':'background-color:none ; color:none'}`">
                <td :style="`display :${ alter ? 'table-cell' :'none'}`">
                    <button v-if="!process.reguler" style="margin-left:5px" class="btn btn-danger" @click="deleteProcessConfirm(process.id)">
                        حذف
                    </button>
                </td>
                <td>{{process.sells}}</td>
                <td>{{process.costs}}</td>
                <td>{{process.debt}}</td>
                <td>{{process.expenses}}</td>
                <td>{{process.profit}}</td>
                <td>{{process.reguler?'جرد نظامي':' جرد غير نظامي'}}</td>
                <td>{{process.created_at_formated}}</td>
            </tr>
        </tbody>
    </table>
</div>