<div>
    <table class="table table-striped ">
        <thead class="table-dark">
            <tr>
                <th :style="`display :${ alter ? 'table-cell' :'none'}; background-color: ${alter?'red':'none'}` ">حذف الدين</th>
                <th id="name">
                    {{!filter ? 'الاسم' : ''}}
                    <input :style="`display: ${filter?'block':'none'} ; width:100% !important`" type="text" v-model="name" placeholder="الاسم">
                </th>
                <th :style="`background-color: ${alter?'red':'none'} `"> المبلغ</th>
                <th>الوصف</th>
                <th>
                    {{!filter ? 'تاريخ الإدخال' : ''}}
                    <input :style="`display: ${filter?'block':'none'} ; width:100% !important`" type="text" onfocus="this.type='date'" onblur="this.type='text'" v-model="created_at" placeholder="تاريخ الادخال">
                </th>
                <th>
                    {{!filter ? 'تاريخ التعديل' : ''}}
                    <input :style="`display: ${filter?'block':'none'} ; width:100% !important`" type="text" onfocus="this.type='date'" onblur="this.type='text'" v-model="updated_at" placeholder="تاريخ التعديل">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr :id="process.id" v-for="process in expenses" :key="process.id">
                <td :style="`display :${ alter ? 'table-cell' :'none'}`">
                    <button style="margin-left:5px" class="btn btn-danger" @click="deleteProcessConfirm(process.id)">
                        حذف
                    </button>
                </td>
                <td class="ntd" :id="process.id+'ntd'" @click="alter ? 
                    function(e){
                        var t = e.target.tagName == 'TD' ? e.target : e.target.parentElement
                        setCellToUpdate(e,t)
                    }($event)
                    : null ">
                    {{temoraryCellId == process.id+'ntd' ? '': process.name}}
                    <input class="input" style="display: none ; width:100% !important" type="text" :placeholder="`${process.name}`">
                </td>
                <td class="ttd" :id="process.id+'ttd'" @click="alter ? 
                function(e){
                    var t = e.target.tagName == 'TD' ? e.target : e.target.parentElement
                    setCellToUpdate(e,t)
                }($event)
                : null ">
                    {{temoraryCellId == process.id+'ttd' ? '': process.totall }}
                    <input class="input" style="display: none ; width:100% !important" type="number" :placeholder="process.totall"> <span class="currency">ل.س</span>
                </td>
                <td class="dtd" :id="process.id+'dtd'" @click="alter ? 
                function(e){
                    var t = e.target.tagName == 'TD' ? e.target : e.target.parentElement
                    setCellToUpdate(e,t)
                }($event)
                : null ">
                    {{temoraryCellId == process.id+'dtd' ? '': process.description}}
                    <input class="input" style="display: none ; width:100% !important" type="text" :placeholder="`${process.description}`">

                </td>
                <td>{{process.created_at_formated}}</td>
                <td>{{process.updated_at_formated}}</td>
            </tr>
        </tbody>
    </table>
</div>